 body {
    background-color: #b3ecbb;
 }
 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #baee90;
    margin: 0;
    padding: 20px;
}

header, .section {
    background-color: #baee90;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #218b4d;
}

h2 {
    color: #3ab14a;
    margin-top: 30px;
}

a {
    color: #218b4d;
    text-decoration: none;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #94d360;
    margin: 0;
    padding: 10px;
}
img{
    border-radius: 50px;
    border: 9px solid;
    border-color: rgb(101, 141, 96);
}

